//Colors

$golden: rgb(191, 157, 77);
$dark-green: #050f18;
$medium-green: #182c38;
$antique-brown: #311f13;
$dark-brown: #F0F0EFF;
$ivory-bone: #F9F6EE;

// Fonts
$garamond: Garamond;

// Font size
$x-small-font-size: 15px;
$small-font-size: 20px;
$medium-font-size: 25px;
$large-font-size: 36px;
$x-large-font-size: 50px;


// Basics
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent; /* Enlève la surbrillance sur mobile */
  background-color: transparent;
  outline: none;

}

button {
  font-weight: bold;
  font-family: $garamond;
  border: solid 1px $golden;
  border-radius: 5px;
  color: black;
  padding: 2%;
  max-width: 20vw;
  max-height: 15vh;
  background-color: $golden;
  box-shadow: inset 0 0 0 1px black;
}
