@use "variables" as *;

.about-text {
  color: $golden;
  font-weight: bold;
  font-size: $small-font-size;
  letter-spacing: 3px;
  margin: 10vh 10vw;
  text-align: justify;
  line-height: 30px;
  white-space: break-spaces;

}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: $golden;
  }
}
