@use "../../styles/variables" as *;

.character-creation-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $golden;
  animation: fadeIn 4s ease-in-out;

  form {
    height: 60vh;
    width: 100vw;
    margin-top: 10vh;

    .character-form-group {
      display: flex;
      justify-content: center;

      input {
        all: unset;
        font-size: $medium-font-size;
        font-weight: bold;
        opacity: 0.8;
        color: $golden;
        background-color: transparent;
      }

      input:-webkit-autofill {
        box-shadow: none;
        -webkit-text-fill-color: $golden;
        transition: background-color 9999s ease-in-out 0s;
      }

      .background-cards-container {
        display: flex;
        height: 60vh;
        flex-direction: row;
        justify-content: space-around;
        overflow: scroll;
        overflow-y: visible;
        scrollbar-width: thin;
        margin: 0 5vw;
        width: 100%;
        -webkit-overflow-scrolling: touch;

        .background-card {
          flex: 0 0 auto;
          min-width: 300px;
          max-width: 250px;
          font-weight: bold;
          margin: 5vh 2vw;
          border-radius: 5px;
          perspective: 1000px; // permet le 3D flip
          cursor: pointer;

          .background-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 0.6s ease;
            transform-origin: center center;
          }

          &:hover .background-card-inner {
            transform: rotateY(180deg);
          }

          .background-card-front,
          .background-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            background-color: rgba(0, 0, 0, 0.25);


          }

          .background-card-back {
            transform: rotateY(180deg);
            background-color: rgba(0, 0, 0, 0.6); // un peu plus foncé pour différencier
          }

          .background-card-front {
            .background-card-header {
              font-size: $medium-font-size;
              margin-bottom: 2vh;
              color: $ivory-bone;
            }

            .background-icon img {
              max-width: 150px;
              max-height: 150px;
              @media (max-width: 799px) {
                max-width: 100px;
                max-height: 100px;
              }
            }
          }

          .background-card-back {
            .background-card-body {
              padding: 0 2vw;
              font-size: $x-small-font-size;
              color: $ivory-bone;
            }
          }

          @media (max-width: 799px) {
            min-width: 60vw;
            padding: 2vh 5vw;
          }


          .background-icon {
            margin-top: 10vh;
            text-align: center;
            @media (max-width: 799px) {
              margin-top: 5vh;
            }

            img {
              max-width: 150px;
              max-height: 150px;
              @media (max-width: 799px) {
                max-width: 100px;
                max-height: 100px;
              }
            }


          }
        }
      }


    }

    button {
      margin-top: 3vh;
      background-color: $dark-green;
      color: $golden;
      aspect-ratio: 2;
      opacity: 0.9;
      transition: opacity 0.4s ease, visibility 0.4s ease;

      &.hidden-button {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}

.omen-container {
  display: flex;
  flex-direction: column;
  font-size: $large-font-size;
}

.omen-placeholder {
  color: $golden;
  opacity: 0;
  animation: fadeInOut 30s ease-in-out forwards;
  text-align: justify;
  margin: 5vh 2vw;
}

.dice-omen-container {
  display: flex;
  flex-direction: column;
  opacity: 1;
  &.fade-out{
    animation: fadeOut 5s ease-in-out forwards;
  }
}


.omen-content {
  margin: 0 2vw;
  font-size: $x-large-font-size;
  animation: fadeInOut 10s ease-in-out forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.90;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

