<div class="chat-screen">
  <h1>{{ "gameMaster" | translate }}</h1>
  <div class="chat-main">
    @if (this.isStarting) {
      <div class="chat-content">
        {{ "chatTextboxPlaceHolder" | translate }}
      </div>
    } @else {
      <div #chatContainer class="chat-content markdown-container">
        @for (message of conversation; track message) {
          <div class="{{message.role}}">
            @if (message.content.length > 15) {
              <markdown [data]="message.content"></markdown>
            }
          </div>
        }
        @if (this.isTyping) {
          <div class="quill-loader">
            <img src="../../../assets/quill.png" alt="writing quill" class="feather"/>
            <span class="label">{{ 'writing' | translate }}</span>
          </div>
        }
      </div>
    }
  </div>


  <div class="chat-textbox">
    @if (dice) {
        <lughdice (click)="triggerDiceRoll()" #d20 [size]="150"></lughdice>
    }
    @if (choices.length > 0) {
      <div class="choices-container">
        @for (choice of choices; track choice) {
          <button (click)="clickChoice(choice)" class="choice-button">
            {{ choice }}
          </button>
        }
      </div>
    }
    <textarea placeholder="{{'textAreaPlaceHolder'| translate }}"
              [(ngModel)]="answer" (keydown)="handleKeyDown($event)"
              [disabled]="isLoading" [ngClass]="isLoading?'disabled':'enabled'">


    </textarea>
    <button (click)="sendAnswer()" [disabled]="isLoading" [ngClass]="isLoading?'disabled':'enabled'">
      <img src="../../../assets/send-icon.png" alt="Send message">
    </button>
  </div>


  <button class="download-tale-button" (click)="summarizeAndDownload()">
    @if (!downloading) {
      {{ 'getTale'|translate }}
    } @else {
      <div id="loading"></div>
    }
  </button>
</div>
