<!-- Bouton retour -->
<div class="back-button">
  <img (click)="backToHome()" ngSrc="/assets/left-arrow.png" alt="left-arrow" height="50" width="50"/>
</div>

<div class="settings-container">
  <h2>{{ 'settings' | translate }}</h2>


  <!-- URL Ollama -->
  <div class="setting-group">
    <app-volume></app-volume>
  </div>
  <div class="setting-group">

    <label for="ollamaUrl">{{ 'ollamaUrl' | translate }}</label>
    <input id="ollamaUrl" type="text" [(ngModel)]="config.ollamaUrl" placeholder="Enter Ollama URL"/>
  </div>

  <!-- Model -->
  <div class="setting-group">
    <label for="model">{{ 'model' | translate }}</label>
    <input id="model" type="text" [(ngModel)]="config.model" placeholder="Enter model name"/>
  </div>

  <!-- Bouton sauvegarder -->
  <button class="btn-save" (click)="save()">{{ 'save' | translate }}</button>
</div>
