/* You can add global styles to this file, and also import other style files */
@use "variables" as *;

body {

}


/* Scrollbar globale - WebKit (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 6px; /* scroll verticale */
  height: 6px; /* scroll horizontale */
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $golden;
  border-radius: 10px;
}

/* Scrollbar globale - Firefox */
* {
  scrollbar-width: thin; /* mince */
  scrollbar-color: $golden transparent; /* curseur jaune, fond transparent */
}


// Source - https://stackoverflow.com/a
// Posted by Adrian Ruiz, modified by community. See post 'Timeline' for change history
// Retrieved 2025-11-16, License - CC BY-SA 4.0

.mat-mdc-snack-bar-container.snackbar {
  color: $golden;
  background-color: $dark-green;
  border-radius: 10px;
  //--mat-snack-bar-button-color: $ivory-bone;
  //--mdc-snackbar-container-color: $ivory-bone;
  //--mdc-snackbar-supporting-text-color: #fff;
}


.back-button {
  position: absolute;
  left: 5%;
  top: 5%;
  opacity: 0;
  cursor: pointer;
  animation: fadeSlide 600ms ease forwards;
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
